// TODO move to grid module
.d-grid {
  display: grid;
}

// TODO move to some flexbox module??
// TODO think about naming (how it can pollute global namespace)
.flow--column {
  grid-auto-flow: column;
  flex-direction: column;
}

// TODO move to grid module
.gap-sm {
  gap: 0.24rem;
}

.gap-md {
  gap: 0.52rem;
}

.gap-lg {
  gap: 1rem;
}