h1 {
  font-size: $font-size-6;
  line-height: calc(18px + 9.85vmin);
}

h2 {
  font-size: $font-size-5;
  line-height: calc(18px + 6.9vmin);
}

h3 {
  font-size: $font-size-4;
  line-height: calc(18px + 4.6vmin);
}

h4 {
  font-size: $font-size-3;
  line-height: calc(18px + 4vmin);
}

h5 {
  font-size: $font-size-2;
  line-height: calc(18px + 2.9vmin);
}

h6 {
  font-size: $font-size-1;
  line-height: calc(18px + 1.6vmin);
}

h1, h2, h3, h4, h5, h6 {
  margin: calc(12px + 0.8vmin) 0;
}
