@use 'sass:map';

.divide {
  @function direction-to-property($direction) {
    @if $direction == 'y' {
      @return (
        'head': border-top-width,
        'tail': border-bottom-width,
      );
    }
    @return (
      'head': border-left-width,
      'tail': border-right-width,
    );
  }

  $directions: x, y;
  $spacings: 0, 1px, 2px, 4px;

  @each $spacing in $spacings {
    @each $direction in $directions {
      $properties: direction-to-property($direction);
      $head: map.get($properties, 'head');
      $tail: map.get($properties, 'tail');

      &-#{$direction}-#{$spacing} > * + * {
        #{$head}: $spacing;
        #{$tail}: 0;
      }

      &-#{$direction}-#{$spacing}.divide-#{$direction}-reverse > * + * {
        #{$head}: 0;
        #{$tail}: $spacing;
      }
    }
  }
}
