// Analogous (harmony) color scheme

// Primary color (cool navy)
$color-primary: #475A7E;
$color-primary-dark: #1a3152;
$color-primary-light: #7587ad;

// Secondary color (cool navy)
$color-secondary: #47757e;
$color-secondary-dark: #184952;
$color-secondary-light: #75a4ad;

// Tertiary color (cool purple)
$color-tertiary: #4f477e;
$color-tertiary-dark: #232051;
$color-tertiary-light: #7d72ae;

$color-gray: #424242;
$color-gray-dark: #1b1b1b;
$color-gray-light: #6d6d6d;

$color-transparent: rgba(0,0,0,0);

$color-font-light: #eeeeee;