// Primary color (forest green)
// https://coolors.co/2e6030-507c50-6ca26d-99d69c-c1ebc1
$color-primary-main: #6ca26d;
$color-primary-dark: #507c50;
$color-primary-darker: #2e6030;
$color-primary-light: #99d69c;
$color-primary-lighter: #c1ebc1;

// Secondary color (deep chestnut)
$color-secondary-main: #bf564d;
$color-secondary-dark: #853c35;
$color-secondary-light: #cb7770;

// Tertiary color (tea green)
$color-tertiary-main: #d8ebc1;
$color-tertiary-dark: #97a487;
$color-tertiary-light: #dfefcd;

// Miscellaneous colors
$color-gray: #424242;
$color-gray-dark: #1b1b1b;
$color-gray-light: #6d6d6d;

$color-white-main: #fafafa;
$color-white-dark: #afafaf;
$color-white-light: #fff;

$color-transparent: rgba(0,0,0,0);

// Text colors
$text-color-black: rgba(0, 0, 0, 0.87);
$text-color-black-dim: rgba(0, 0, 0, 0.54);

$text-color-white: #fff;
$text-color-white-dim: rgba(255, 255, 255, 0.7);
