// Primary color (may green)
$color-primary-main: #488b49;
$color-primary-dark: #326133;
$color-primary-light: #6ca26d;

// Secondary color (deep chestnut)
$color-secondary-main: #bf564d;
$color-secondary-dark: #853c35;
$color-secondary-light: #cb7770;

// Tertiary color (tea green)
$color-tertiary-main: #d8ebc1;
$color-tertiary-dark: #97a487;
$color-tertiary-light: #dfefcd;

// Miscellaneous colors
$color-gray: #424242;
$color-gray-dark: #1b1b1b;
$color-gray-light: #6d6d6d;

$color-white-main: #fafafa;
$color-white-dark: #afafaf;
$color-white-light: #fff;

$color-transparent: rgba(0,0,0,0);

// Text colors
$text-color-black: rgba(0, 0, 0, 0.87);
$text-color-black-dim: rgba(0, 0, 0, 0.54);

$text-color-white: #fff;
$text-color-white-dim: rgba(255, 255, 255, 0.7);
