// Courtesy of https://www.codementor.io/@ricardozea/100-responsive-typography-system-using-a-modular-scale-s5rhft58g
// https://www.modularscale.com/?1,1140,12&em&1.618

$font-size--4: 0.517em;
$font-size--3: 0.618em;
$font-size--2: 0.669em;
$font-size--1: 0.836em;
$font-size-0: 1em;
$font-size-1: 1.082em;
$font-size-2: 1.353em;
$font-size-3: 1.618em;
$font-size-4: 1.751em;
$font-size-5: 2.189em;
$font-size-6: 2.618em;
$font-size-7: 2.883em;
$font-size-8: 3.541em;
